.auth__main{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $primary;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.auth__box-container{
    background-color:white;
 /*    position: relative;
    left: 350px; */
    box-shadow:0px 3px $dark-grey;
    border-radius: 2px;
    padding: 20px;
    height: 350px;
    width: 350px;
  
}

.auth__title{
    color:darken($color: $primary, $amount: 20); //oscurecer en 20% el color primary
    margin-bottom:20px;
    text-align: center;
}

.auth__input{
    color:$dark-grey;
    border: 0px;
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    margin-bottom: 15px;
    height: 20px;
    width: 100%;
    transition: border-bottom .3s ease;

    &:focus{
        border-bottom: 1px solid $primary;
        outline: none;
    }
}

.auth__social-networks{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 5px;
}

.auth__alert-error{
    background-color:$error;
    border-radius:5px;
    color:white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
}
.auth__section{
 align-items:center;
    display: flex;
    justify-content: space-between;
    
   
}

.auth__imagen{
  width: 60vw;
  overflow: hidden;
 /*  border: 5px solid black; */
   
  /*   align-items: center;
    display: flex;
    justify-content: center;
      transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s; */
}

.auth__content-secondary{
    width: 30vw;

    background-color:white;
    /*    position: relative;
       left: 350px; */
       box-shadow:0px 1px 2px $dark-grey;
       border-radius: 2px;
       padding: 20px;
       height: 400px; //350
       width: 350px;
}


.auth__loader{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  
}